@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;

}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

 

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}


::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  
}

::-webkit-scrollbar-track {
  background:  #f1f1f1; 
  border-radius: 10px; /* roundness of the track */
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #888;
  border-radius: 10px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background:#555; 
  cursor:pointer
}

a {
  text-decoration: none;
  color: inherit;
}

.active-link {
  color: red;
}