 
      .sidebar-toggle {
        position: absolute;
        
        right: -40px;
        height: 40px;
        width: 40px;
        z-index: 1;
        border:none;
        /*border: solid #0F0F40 2px;*/
      
       /* border-radius: 8px 8px 8px 8px*/
        border-radius: 0px 0px 8px 0px;
        background-color: #414168;
        color: white
      }

      .sidebar-toggle{
        cursor: pointer;
      }
      .container{
        z-index: 99999;
        display: flex;
        position: absolute;
        top: 0;
        transition: .4s ease-in-out;
        font-size: 14px;
        height: 100%;
      }
      .action-container{
        width: 350px;
        height: 100%; 
        overflow-y: auto;
        background: #0F0F40;
        color: white
                           
      }