.search{
    background:  #414168;
  
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
   
    border-radius: 8px;
    margin: 5px 0
   
   
}
.search input{
    width: 100%;
    height: 100%;
    background: none;
    padding: 0;
   border: none;
   padding: 10px;
   color: white;
   font-size: 14px;
}
.search .icon{
    padding: 5px;
    align-items: center;
    align-content: center;
    justify-content: center;

   
}